
/*.nav-links li {*/
/*    display: flex;*/
/*    background-color: lightgray;*/
/*    list-style-type: none;*/
/*    flex-wrap: wrap;*/
/*    margin: 20px 0;*/
/*    padding: 20px;*/
/*    width: 75%;*/
/*    justify-content: center;*/
/*}*/

/*h1 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.content {*/
/*    background-color: rgb(215, 254, 254);*/
/*    border: 1px solid lightgray;*/
/*    padding: 20px 10px;*/
/*    margin: 22px 30px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/


/*.header-img img {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin: 0px 25px;*/
/*    padding: 0 20px;*/
/*    width: 75%;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.main > h2 {*/
/*    text-align: center;*/
/*    justify-content: left;*/

/*}*/

/*p {*/
/*    margin: 1em;*/
/*}*/

/*.sub-section > h2 {*/
/*    text-align: center;*/
/*    justify-content: left;*/
/*    font-style: italic;*/
/*}*/

/*.sub-section > p {*/
/*    font-style: italic;*/
/*    margin-bottom: 3em;*/

/*}*/

/*footer {*/
/*    font-style: normal;*/
/*}*/



.nav-links li {
    display: flex;
    background-color: lightgray;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 1.25em 0em;
    padding: 1.25em;
    width: 75%;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: rgb(215, 254, 254);
    border: 0.06em solid lightgray;
    padding: 1.25em 0.625em;
    margin: 1.375em 1.875em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}


.header-img img {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 1.5625em;
    padding: 0em 1.25em;
    width: 75%;
    justify-content: center;
    align-items: center;
}
.main > h2 {
    text-align: center;
    justify-content: left;

}

p {
    margin: 1em;
}

.sub-section > h2 {
    text-align: center;
    justify-content: left;
    font-style: italic;
}

.sub-section > p {
    font-style: italic;
    margin-bottom: 3em;

}

footer {
    font-style: normal;
}